h1{
    color: mediumvioletred;
    margin-top: 1cm;
    margin-left: 6cm;
  }
h2, h3{
text-align: center;
color: brown;
}
.log{
    text-align: center;
}
#emailfield{
  width:500px;
  height: 1cm;
}
#passwordfield{
  width: 500px;
  height: 1cm;
}
#loginbutton{
  width: 500px;
  height: 1cm;
  background-color: aqua;
  font-size: larger;
  font-family:fantasy;
  
}
u{
  color: red;
}
body {
    font-family: Helvetica;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
  }
  
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  .site-identity img {
    width: 200px;
    float: left;
    margin: 20px 0 0 10px;
  }
  
  .site-navigation {
    float: right;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }